# Week 2 Day 3: Classes

- what is a class
- scope

#### Methods vs Functions

In [62]:
# make a class with two methods in it
class testClass():
    
    def method1():
        print('This is the first method')
        
    def method2():
        print('This is my second method')

In [63]:
#what is the class?

testClass

__main__.testClass

In [64]:
# call the first method within 

testClass.method1()

This is the first method

In [65]:
# call the second method within 

testClass.method2()

This is my second method

In [66]:
#create an instance of the class

instance = testClass()
instance

In [67]:
#call the method within the instance

#instance.method1()

#### Class initialization __ init __ and methods

In [68]:
# make a class with a function that intializes a name and age as arguments
# make a method that prints out the name and age of the 

# make a class with a function that intializes a name and age as arguments
# make a method that prints out the name and age of the 

class Student():
    def __init__(self, name, age):
        self.name = name 
        self.age = age
        
    def printStudentInfo(self):
        print('Name:', self.name), 'Age:', str(self.age)

In [69]:
#create an object/ class instance
student1 = Student('Polly', 20)

In [70]:
# what is this object?
student1

In [71]:
#get the name variable within the object
student1.name

'Polly'

In [72]:
#get the age variable within the object
student1.age

20

In [73]:
# call the method within the class
student1.printStudentInfo()

Name: Polly

In [74]:
# make a class with name, age, and with a keyword argument of occupation with 'student 
# create a method with to print all of the argumetns
# create a method that takes in a list of grades and prints the sum of those grades
# create a method that prints out  the list of grades

class Person():
    def __init__(self, name, age, occupation = "student"):
        self.name = name
        self.age = age
        self.occupation = occupation

    # create a method with to print all of the arguments
    def postInfo(self):
        print(self.name, self.age, self.occupation)

    # create a method that takes in a list of grades and prints the sum of those grades
    def sumOfGrades(self, listOfGrades):
        self.listOfGrades = listOfGrades
        print(self.name, "Total Grade is:", sum(listOfGrades))

    # create a method that prints out the list of grades
    def getGradeList(self):
        print(self.listOfGrades)

In [75]:
# create an instance
person1 = Person('nana', 32)

In [76]:
# what is the type of this instance?
type(person1)

__main__.Person

In [77]:
# create another instance of the Person class with other arguments
person2 = Person('Mikey', 22)

In [78]:
# what is the type of this instance?
type(person2)

__main__.Person

In [79]:
#get the name of the first person
person1.name

'nana'

In [80]:
#get the age of the second person
person2.name

'Mikey'

In [81]:
#get the occupation of the second person
person2.occupation

'student'

In [82]:
# call the method that prints out the information for person 1
person1.postInfo()

nana 32 student

#### Passing Arguments

In [83]:
#make a third instance 
person3 = Person('Tally', 34, 'Mechanic')

In [84]:
# call the method to print information
person3.postInfo()

Tally 34 Mechanic

In [85]:
# call the method to get the grades list
person3.sumOfGrades([90,56,87,57])

Tally Total Grade is: 290

In [86]:
# call the method that sums the grades list
person3.getGradeList()

[90, 56, 87, 57]

In [87]:
# call the method taht gets the grades list again
person3.getGradeList()

[90, 56, 87, 57]

In [88]:
# create a class that assigns two arguments and 
# has a method that prints the arguments
# has a method that has a list of tasks

class DogWash():
    def __init__(self, dog, breed):
        self.dog = dog
        self.breed = breed
        
    def printDogInfo(self):
        print('Dog Name:', self.dog)
        print('Dog Breed:', self.breed)
        
    def getTasks(self, tasksLyst):
        return(tasksLyst)

In [89]:
# assign an instance with a name and an age
dog1 = DogWash('Jasper', 'Mutt')

In [90]:
# define the list 
dog1.printDogInfo()

Dog Name: Jasper
Dog Breed: Mutt

In [91]:
# define the list 
dog1.getTasks(['cut', 'clip', 'wash', 'dry'])

['cut', 'clip', 'wash', 'dry']

In [92]:
jasperTasks = dog1.getTasks(['cut', 'clip', 'wash', 'dry'])
jasperTasks

['cut', 'clip', 'wash', 'dry']

#### Updating Variables

In [93]:
# updating the name  
dog1.name = 'Charlie'
print(dog1.name)

Charlie

In [94]:
# update the lyst
dog1.getTasks(['Wash', 'Dry'])

['Wash', 'Dry']